* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    max-width: 1400px;

}


.navbar {
    display: flex;
    flex-direction: row;
    background-color: #FFF3F3;
    border: 2px solid #FCACAC;
    height: 50px;
}


.router {
    display: flex;
    width: 100%;



}

.router a {
    color: #FCACAC;
    margin-top: 15px;
    margin-left: 25px;
    transition: 0.5s;
    font-weight: bold;

}

.router a:hover {

    color: #6B555E
}

.router a:target {
    background-color: #6B555E;

    color: #FCACAC;
}