.container {
    display: flex;

}

.formik-containerdoctor {
    margin-top: 10px;
    color: #6B555E;
    font-weight: bolder;
    border: 6px solid #FCACAC;
    padding: 10px;
    margin-left: 500px;
    align-items: center;
    width: 600px;
    height: 415px;
}


.formik-containerdoctor h1 {
    text-align: center;
}

.formik-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    color: #6B555E;
}

.formik-container2 {
    margin-top: 10px;
    color: #6B555E;
    font-weight: bolder;
    padding: 10px;
    margin-left: 500px;
    align-items: center;
    width: 200px;
}

.formik-submit-button {
    width: 60px;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid #ccc;
    background-color: #FCACAC;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.addDoctor {
    margin-top: 10px;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid #ccc;
    background-color: #FCACAC;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add {
    margin-left: 152px;
    margin-top: 20px;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid #ccc;
    background-color: #FCACAC;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}