.formik-containerVaccine {
    margin-top: 80px;
    color: #6B555E;
    font-weight: bolder;
    border: 6px solid #FCACAC;
    padding: 10px;
    margin-left: 410px;
    align-items: center;
    width: 550px;
    height: 500px;
}



.formik-containerVaccine h1 {
    text-align: center;
    margin-bottom: 20px;
}


.formik-select,
.formik-input {
    width: 30%;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid #ccc;
}

.formik-input {
    width: 30%;
}

.formik-submit-buttonVaccine {
    width: 60px;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid #ccc;
    background-color: #FCACAC;
    color: #fff;
    cursor: pointer;

}

.formik-submit-button:hover {
    background-color: #FCACAC;
}

.formik-field-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #6B555E;
}

.addVaccine {

    margin-left: 0px;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid #ccc;
    background-color: #FCACAC;
    color: #fff;
    cursor: pointer;

}

.search {
    margin-top: 20px;
    /* margin-left: 160px; */

}

.searchButton {

    padding: 0.5rem;
    background-color: #FCACAC;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    cursor: pointer;
    height: 40px;
    margin-left: 15px;
    width: 120px;
}

.searchButton1 {
    padding: 0.5rem;
    background-color: #FCACAC;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    cursor: pointer;
    height: 40px;
    margin-left: 22px;
    width: 120px;
}



.form-groupOwner {

    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    color: #6B555E;
    width: 500px;
    align-items: center;
}

#name,
#code,
#protectionStartDate,
#protectionFinishDate {
    width: 480px;
    align-items: center;
    margin-left: 0px
}

.formik-select {
    width: 480px;
    align-items: center;
}