.formik-containerVaccine {
    margin-top: 50px;
    color: #6B555E;
    font-weight: bolder;
    border: 6px solid #FCACAC;
    padding: 10px;
    margin-left: 375px;
    align-items: center;
    width: 600px;
    height: 500px;
}

.formikStyle {
    text-align: center;
    align-items: center;
    margin-left: 30px;
}

.formik-containerVaccine h1 {
    text-align: center;
    margin-bottom: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    color: #6B555E;
    width: 500px;
    align-items: center;
}

.formik-label {
    margin-bottom: 0.5rem;
}

.formik-select,
.formik-input {
    width: 30%;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid #ccc;
}

.formik-input {
    width: 30%;
}

.formik-submit-button {
    width: 60px;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid #ccc;
    background-color: #FCACAC;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 50px;
    margin-left: 250px
}

.formik-submit-button:hover {
    background-color: #FCACAC;
}

.formik-field-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #6B555E;
}

.addVaccine {

    margin-left: 0px;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid #ccc;
    background-color: #FCACAC;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search {
    margin-top: 20px;
    margin-left: 160px;

}

.searchButton {

    padding: 0.5rem;
    background-color: #FCACAC;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    cursor: pointer;
    height: 40px;
    margin-left: 15px;
    width: 120px;
}

.searchButton1 {
    padding: 0.5rem;
    background-color: #FCACAC;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    cursor: pointer;
    height: 40px;
    margin-left: 62px;
    width: 120px;
}

.dateInput,
.nameInput {

    border: 1px solid #ccc;
    border-radius: 0.3rem;
}

.form-groupOwner {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    color: #6B555E;
    width: 500px;
    align-items: center;
}