.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    color: #6B555E;
    width: 500px;
    align-items: center;
}

.formik-label {
    margin-bottom: 0.5rem;
}

.select-date,
.select-time {
    width: 472px;
}

.formik-submit-buttonAp {
    width: 60px;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid #ccc;
    background-color: #FCACAC;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}



.formik-field-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #6B555E;
}

.appointment-form {
    margin-top: 10px;
    color: #6B555E;
    font-weight: bolder;
    border: 6px solid #FCACAC;
    padding: 10px;
    margin-left: 500px;
    align-items: center;
    width: 600px;
    height: 500px;
}

.formik-appointment-container {
    margin-top: 10px;
    color: #6B555E;
    font-weight: bolder;
    border: 6px solid #FCACAC;
    padding: 10px;
    margin-left: 400px;
    align-items: center;
    width: 544px;
    height: 511px;
}

.formik-appointment-container h1 {
    text-align: center;
    margin-bottom: 10px;
}

.addAp {
    margin-left: 211px;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid #ccc;
    background-color: #FCACAC;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.searchAppointment {
    margin-top: 20px;
    margin-left: 235px;
    gap: 20px;
}

.searchStartDate,
.searchEndDate,
.searchList {
    margin-right: 20px;
}