.formik-container-customer {
    margin-top: 10px;
    color: #6B555E;
    font-weight: bolder;

    padding: 10px;
    margin-left: 400px;
    align-items: center;
    width: 600px;
    height: 380px;
}


.formik-container-customer h1 {
    text-align: center;
}

.formik-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    color: #6B555E;
}

.addCustomer {
    margin-left: 140px;
    margin-top: 20px;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid #ccc;
    background-color: #FCACAC;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search {
    margin-top: 20px;
    margin-left: 160px;

}

.searchButton {

    padding: 0.5rem;
    background-color: #FCACAC;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    cursor: pointer;
    height: 40px;
    margin-left: 15px;
}

.searchInput {

    border: 1px solid #ccc;
    border-radius: 0.3rem;

}

.formik-customer-submit-button {
    width: 60px;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid #ccc;
    background-color: #FCACAC;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 240px;
}

.formik-customer-submit-button:hover {
    background-color: #FCACAC;
}

#nameC,
#phoneC,
#mailC,
#addressC,
#cityC {
    width: 550px;
}