.container {
    display: flex;

}

.formik-containerdoctor {
    margin-top: 10px;
    color: #6B555E;
    font-weight: bolder;

    padding: 10px;
    margin-left: 413px;
    align-items: center;
    width: 500px;
    height: 415px;
}

.form-groupDoctor {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    color: #6B555E;


}

#name,
#phone,
#mail,
#address,
#city {

    width: 475px;
    align-items: center;

}


.formik-containerdoctor h1 {
    text-align: center;
}

.formik-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    color: #6B555E;
}

.formik-container2 {

    color: #6B555E;
    font-weight: bolder;
    padding: 10px;
    margin-left: 125px;
    align-items: center;
    width: 400px;
}


#availableDateDate {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 150px;
    height: 30px;

}


.formik-submit-buttonDoctor {
    width: 60px;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid #ccc;
    background-color: #FCACAC;
    color: #fff;
    cursor: pointer;


}


.addDoctor {
    margin-top: 10px;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid #ccc;
    background-color: #FCACAC;
    color: #fff;
    cursor: pointer;

}

.add {
    margin-left: 145px;
    margin-top: 20px;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid #ccc;
    background-color: #FCACAC;
    color: #fff;
    cursor: pointer;

}